:root {
    --color-accent: #9D4EDB;
    --color-white: #fff;
    --color-black: #000;
    --color-pastel-yellow: #F2FFBE;
    --color-pastel-blue: #98E6FF;
    --color-pastel-pink: #FFC1EE;
    --color-pastel-green: #B5FFB4;
    --color-background: #F1DFFF;
    --color-input-background: #F1DFFF;
    --color-gray-light: #00000066;
}