@import "../../variables/colors.css";
@import "../../variables/spacings.css";
@import "../../variables/font-sizes.css";

.translate-box {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom:  var(--spacing-4);
}

.input-field {
    width: 60%;
    border: 3px solid var(--color-black);
    border-radius: 1rem;
    padding: var(--spacing-1);
    font-size: var(--font-size-regular);
    font-family: 'Inter';
    margin-bottom: var(--spacing-2);
}
.input-field::placeholder {
   color: var(--color-gray-light);
}

.translated-box {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-white);
    border: 3px solid var(--color-black);
    border-radius: 1rem;
    padding: var(--spacing-2);
}

.sign-image {
    width: 48px;
    height: 48px;
}

.space-sign {
    padding: 24px;
}

@media only screen and (max-width: 576px) {
    .input-form {
        margin-top: 15rem;
    }
}