@import "../../variables/colors.css";
@import "../../variables/spacings.css";

.profile-container {
    margin-top: 120px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.delete-btn {
    display: flex;
    justify-content: flex-end;
}

.heading-box {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 5rem;
}

.list-box {
    background-color: var(--color-white);
    padding: var(--spacing-1);
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-3);
    border: 3px solid var(--color-black);
    border-radius: 1rem;
}

.list-item:last-child {
    border: none;
}

.list-item {
    border-bottom: 1px solid var(--color-gray-light);
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
}

@media only screen and (max-width: 576px) {
    .heading-box {
        margin-top: 15rem;
        margin-left: 0;
    }
    .profile-container {
        margin-top: 60px;
    }
    .buttons {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .buttons button {
        color: transparent;
        padding-right: 0;
    }
    .buttons svg {
        color: var(--color-black);
    }
}