@import "../../variables/colors.css";
@import "../../variables/spacings.css";
@import "../../variables/font-sizes.css";

.form-box {
    width: 25%;
    margin-top: var(--spacing-4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--spacing-2);
    background-color: var(--color-white);
    border-radius: 1rem;
}

.form-fields {
    border: none;
    padding: 0; 
    margin: 0;
}

.name-input {
    width: 100%;
    border: 3px solid var(--color-black);
    border-radius: 1rem;
    padding: var(--spacing-1);
    color: var(--color-black);
    box-sizing: border-box;
    font-size: var(--font-size-regular);
}

.name-input::placeholder {
    color: var(--color-gray-light);
    font-size: var(--font-size-regular);
}

.error {
    color: red;
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
    font-size: var(--font-size-regular);
}

.form-button button {
    margin-top: var(--spacing-2);
    width: 100%
}

@media only screen and (max-width: 576px) {
    .form-box {
        width: 60%;
    }
}