@import "../../variables/colors.css";
@import "../../variables/font-sizes.css";
@import "../../variables/font-weight.css";

.action-button {
    background-color: var(--color-accent);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--color-white);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}