.login-box {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

@media only screen and (max-width: 576px) {
    .login-box {
        margin-top: 300px;
    }
}