@import '../../variables/font-sizes.css';
@import '../../variables/font-weight.css';
@import '../../variables/spacings.css';

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: var(--spacing-1);
}

.heading-title {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.heading-subtitle {
    font-size: var(--font-size-regular);
}