@import '../../variables/spacings.css';
@import '../../variables/colors.css';
@import '../../variables/font-sizes.css';
@import '../../variables/font-weight.css';

.container {
    margin: 0;
    padding: var(--spacing-2);
}

.circle {
    position: absolute;
    top: -250px;
    left: -220px;
    width: 580px;
    height: 580px;
    z-index: -999;
    border-radius: 50%;
    background-color: var(--color-pastel-yellow);
}

.square {
    position: absolute;
    z-index: -999;
    bottom: 70px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: var(--color-pastel-green);
    transform: rotate(45deg);
}

.triangle {
    position: absolute;
    z-index: -999;
    left: 580px;
    bottom: -120px;
    width: 0;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 180px solid transparent;
    border-top: 280px solid var(--color-pastel-blue);
    transform: rotate(20deg);
}

.small-circle {
    position: absolute;
    right: 60px;
    top: 30px;
    z-index: -999;
    background-color: var(--color-pastel-pink);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.title {
    position: absolute;
    z-index: -999;
    color: var(--color-black);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

@media only screen and (max-width: 576px) {
    .small-circle {
        top: 250px;
        right: -40px;
    }
    .square {
        bottom: 300px;
        left: 10px;
    }
    .triangle {
        left: 100px;
    }
}