@import "../../variables/font-sizes.css";
@import "../../variables/font-weight.css";
@import "../../variables/colors.css";
@import "../../variables/spacings.css";

.icon-button {
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    padding: var(--spacing-1);
    cursor: pointer;
}

.icon {
    margin-left: var(--spacing-1);
}